<footer class="footer">
  <a href="https://techzone.ibm.com" target="_blank" class="poweredBy"><p>Powered by IBM Techzone</p><div class="labInfo_poweredBy" style="display: block; width: 260px;">
</footer>
